body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;;
  }
  .calendar-container {
    max-width: 700px; /* 달력 가로 길이 알맞게 조정 */
    margin: 20px auto;
    flex: 1;
  }
  .calendar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  /* 달력 테두리 선 */
  .calendar th, .calendar td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  /* 상단 요일 색상 */
  .calendar th {
    background-color: #fff;
  }
  /* 일요일과 토요일 배경색 변경 */
  .calendar td:nth-child(7), /* 일요일 */
  .calendar td:nth-child(1) { /* 토요일 */
    background-color: #f0f0f0; /* 변경할 배경색 */
  }
  .calendar td {
    height: 93px; /* 달력 높이 알맞게 조절 */
    position: relative;
  }
  .select-month {
    margin-bottom: 10px;
  }
  #back-to-select-month {
    display: none;
    margin-bottom: 10px;
  }
  .detail-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  .sidebar {
    width: 300px;
    padding: 20px;
    border-left: 1px solid #ccc;
  }
  /* 달력 색상 밝게 */
  .cell-td {
    background-color: #fff;
  }
  /* 일정이 있는 날의 배경색 변경 */
  .has-schedule {
    background-color: #6b9bcb !important; /* 주말이 색을 덮어서 */
  }
  .has-schedule:hover {
    background-color: #477eb5 !important;
  }
  /* 쉬는날 배경색 변경 */
  .has-holiday {
    background-color: #314d7d !important; /* 우선순위 높임 */
  }
  .has-holiday:hover {
    background-color: #213c6a !important;
  }
  .vacation {
    background-color: #dbd47c;
  }
    /* 일요일과 토요일의 날짜 색 변경 */
   .calendar td:nth-child(1) { /* 일요일 */
    color: #b54747;
   }
    .calendar td:nth-child(7) { /* 토요일 */
        color: #477eb5;
    }

    /* 일요일과 토요일의 글씨 색 변경 */
   .calendar th:nth-child(1) { /* 일요일 */
    color: #b54747;
   }
    .calendar th:nth-child(7) { /* 토요일 */
        color: #477eb5;
    }
  
